:root {
    /*Colors*/
    --color-text: #fff;
    --color-primary: #576cbc;
    --color-secondary: #19376d;
    --color-dark: #0b2447;
    --color-bg: #04152d;

    /*Fonts*/
    --font-robot: "Roboto";
}

html {
    overflow: hidden;
    height: 100%;
}
  
body {
    overflow: auto;
    height: 100%;
    overscroll-behavior: none;
    overflow-x: hidden;
}